registry=https://lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/registry/

always-auth=true

; begin auth token
//lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/registry/:username=lukaskuprys
//lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/registry/:_password=[N3dhcXFoN2VodGJ0MndnNGk1cGhlNG9odXpmcDQ2cWloamM2cmg2Y3h3bW55b2hmazZ1YQ==]
//lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/registry/:email=[npm requires email to be set but doesnt use the value]
//lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/:username=lukaskuprys
//lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/:_password=[N3dhcXFoN2VodGJ0MndnNGk1cGhlNG9odXpmcDQ2cWloamM2cmg2Y3h3bW55b2hmazZ1YQ==]
//lukaskuprys.pkgs.visualstudio.com/_packaging/lukaskuprys/npm/:email=[npm requires email to be set but doesnt use the value]
; end auth token

